@use '../base.scss';

.calculator {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
}

.calculator__input {
  flex-basis: calc(100% / 3);
  border-radius: 0px;
  border: none;
  background-color: lightgrey;
  outline: none;
}

.calculator__output {
  flex-basis: 100%;
}
