@use '../base.scss';

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  max-width: 600px;
  flex-basis: 50%;
}

.calculator__button-clear {
  flex-basis: calc(100% / 4 * 3);
}

.calculator__button-divide {
  flex-basis: calc(100% / 4);
}

.calculator__button-number {
  flex-basis: calc(100% / 4);
}

.calculator__button-multiply {
  flex-basis: calc(100% / 4);
}

.calculator__button-minus {
  flex-basis: calc(100% / 4);
}

.calculator__button-plus {
  flex-basis: calc(100% / 4);
}

.calculator__button-equal {
  flex-basis: calc(100% / 4);
}

.calculator__button--number-zero {
  flex-basis: calc(100% / 4 * 3);
}

.calculator__input {
  border-radius: 0px;
  border: none;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  outline: none;
  transition: 0.3s;
}

.calculator__input:hover {
  background-color: rgb(0, 0, 0, 0.25);
}

.calculator__operator,
.calculator__button-equal,
.calculator__button-clear {
  border-radius: 0px;
  border: none;
  background-color: rgb(0, 0, 0, 0.75);
  color: white;
  outline: none;
  transition: 0.3s;
}

.calculator__operator:hover,
.calculator__button-equal:hover,
.calculator__button-clear:hover {
  background-color: rgb(128, 128, 128, 0.5);
}

.calculator__output {
  flex-basis: 100%;
  text-align: right;
  padding-right: 1.125em;
  border: none;
  outline: none;
  transition: 1s;
}
