*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body,
button,
input {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop */

@media (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .row-column {
    flex-basis: 50%;
  }
}

/* Mobile */

@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .row-column {
    flex-basis: 100%;
  }
}

/* Fix display on Safari */

button,
input {
  margin: 0;
  padding: 0;
}
